<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.template.ad">

    <application>
        <activity android:name=".AdActivity" android:label="启动广告">
            <intent-filter>
                <category android:name="android.intent.category.TEMPLATE" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>